@charset "UTF-8";

.button {
  display: inline-block;
  position: relative;
  padding: 8px 24px;
  text-decoration: none;
  background: #668ad8;
  color: #FFF;
  border: none;
  border-bottom: solid 5px #36528c;
  border-right: solid 5px #5375bd;
  cursor: pointer;

  &--red {
    background: #E53238;
    border-bottom: solid 5px #B31313;
    border-right: solid 5px #B31313;
  }

  &--remove {
    padding: 4px 8px;
  }

  &--small {
    padding: 8px;
    font-size: 12px;
  }

  &::before {
    content: " ";
    position: absolute;
    bottom: -5px;
    left: -1px;
    width: 0;
    height: 0;
    border-width: 0 6px 6px 0px;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: #FFF;
  }

  &::after {
    content: " ";
    position: absolute;
    top: -1px;
    right: -5px;
    width: 0;
    height: 0;
    border-width: 0px 6px 6px 0px;
    border-style: solid;
    border-color: #FFF;
    border-bottom-color: transparent;
  }

  &:active {
    border:none;
    transform: translate(6px,6px);

    &:after,&:before {
      content: none;
    }
  }

  &:disabled {
    background: #A9A9B0;
    border-bottom: solid 5px #808088;
    border-right: solid 5px #98989C;
  }
}
