.chat {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__time {
    display: inline-block;
    margin-right: 16px;
  }

  &__content {
    font-size: 24px;
    font-weight: bold;
  }

  &__body {
    display: flex;
    width: 70%;
    margin: 16px auto;
  }

  &__text {
    width: 50%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid #668ad8;
    border-radius: 25px;
    color: #668ad8;
    padding: 8px 16px;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 8px;
    }

    &.is-active {
      background-color: #668ad8;
      color: white;

      .chat__select {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          top: 7px;
          right: -20px;
          transform: rotate(50deg);
          width: 6px;
          height: 10px;
          border-right: 4px solid white;
          border-bottom: 4px solid white;
        }
      }
    }
  }

  &__point {
    margin-left: 8px;
    color: #668ad8;
  }

  &__footer {
    display: flex;
    align-items: center;
  }

  &__userInfo {
    display: flex;
    align-items: center;
    margin-right: auto;
  }

  &__image {
    margin-right: 8px;
  }
}

@media screen and (max-width:480px) {
  .chat {
    &__body {
      flex-direction: column;
    }

    &__text {
      width: 100%;
      box-sizing: border-box;
      font-size: 16px;

      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 8px;
      }
    }

    &__time {
      margin-right: 8px;
    }
  }
}